-- Example 0
potato

3
-- Example 1
haul

1
-- Example 2
gooooooal

1
-- Example 3
rhythm

1
-- Example 4
e

1
-- Example 5
le

1
-- Example 6
various

3
-- Example 7
queued

4
-- Example 8
qwertyuiopasdfghjkl

5
-- Example 9
participle

4
-- Example 10
ukulele

3
